<!DOCTYPE html>
<!--th correspond au balise de la famille thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
    <h1 th:text="'Tonton '+${nom}">hello <b>CDA</b></h1>
    <li th:each="Film: ${films}" ><a th:text="${Film.getTitre()}"  th:href="@{'/film/' + ${Film.getId()}}">liste des film</a></li>
    <!--commentaire java/html-->
    <!--/*-->
    <li>Film 2</li>
    <li>Film 3</li>
    <li>Film 4</li>
    <li>Film 5</li>
    <!--*/-->
</body>
</html>